body {
    margin: 0;
    padding: 0;
    background: white;
}



.calculator-grid {
    background: url(../img/calc3.jpg) top center;
    position: relative;
    background-size: cover;
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: minmax(120px, auto), repeat(5, 100px);
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 5rem;
    align-items: center;
    background: chocolate;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: right;
    color: black;
    font-size: 2rem;
    align-items: center;
    background: rgb(197, 150, 115);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white; 
    outline: none;
    background-color: blue;
    height: 65px;
}

.calculator-grid .color-bg-oper {
    background-color: rgb(197, 150, 115);
}

.calculator-grid .color-bg-oper:hover {
    background-color: chocolate;
}

.output {
    grid-column: 1 / -1;
    background-color: chocolate;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .display {
    color: black;
    font-size: 1.05rem;
    text-align: right;
}

.calculator-grid > button:hover {
    background-color: cornflowerblue;
}